<%- include('partials/header') %>

<div class="container">
<h1 class="text-center mt-4"> <%= miejsce.nazwa %></h1>
<img class="rounded mt-3" src="<%= miejsce.image %>">
<p> <%= miejsce.dlugiopis %></p>
</div>
<%- include('partials/footer') %>
    
