<%- include('../partials/header') %>


<!-- Opis strony--> 
<div class="container">
    <header class="jumbotron mt-2">
        <div class="container text-center">
            <h1><i class="fas fa-map-marker-alt"></i> Wybierz swoją destynację! </h1>
            <p> Odkryj nasze starannie wybrane miejsca </p>
            <p>
                <a class="btn btn-primary btn-sm" href="/miejsca/new">Dodaj nowe miejsce!</a>
            </p>

        </div>
    </header>
    
   <!-- Stworzenie listy miejsc-->     
    <div class="card-deck">
        
        <% miejsca.forEach(function(element){ %>
        <div class="col-sm-6 col-lg-4">
            <div class="card mt-5 shadow-sm p-3 mb-5 bg-white rounded">
                <img src='<%=element["image"]%>' class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= element["nazwa"] %></h5>
                    <p class="card-text"><%= element["krotkiopis"] %></p>
                    <p> <a href="/miejsca/<%= element._id %>" class="btn btn-primary ">Sprawdź</a>
                    <p class="card-text"><small class="text-muted">Od <%= element["cena"] %>zł/noc</small></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

</div>

<%- include('../partials/footer') %>